*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none ;
}
body{
    font-family: 'Raleway', sans-serif;
}
/*Стилизация лого*/ 
.logo{
    background: rgb(233, 233, 233) ;
    width: 100%;
    display: flex;
    justify-content: center ;
}

.graficlogo{
     padding: 15px;
     max-width: 200px;
     box-sizing: border-box; 
}

/*-Стилизация меню-*/
nav{
    margin: auto;
    width:  800px;
    height: 70px;
}
.topnav{ 
    width: 100%;
    height: auto;
    background-color:rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
  
}
.topnaw a{
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-left: 10px;
}
.topnav p{
    color: rgb(0, 0, 0);
}
.topnav a:hover{
    border-bottom: 1px solid black; 
}
.topnav.icon{
    display: none;
}
/*Изображение */ 
.mw-100{
    max-width: 100%;
}
/* */
.advantages_container{
        display: flex;
        justify-content: center;    
}
.advantages{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
   
}
.advantages_item{
    width: 40%; 
}
footer{
    width: 100%;
    height: auto;
    background-color:rgb(233, 233, 233);
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
footer a{
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-left: 10px;
}
footer p{
    color: rgb(0, 0, 0);
}
footer nav a:hover{
    border-bottom: 1px solid rgb(0, 0, 0);
}
.social img{
    margin-left: 10px;
    margin-bottom: 10px;
}
.social img:hover{
    background: #303030;
    border-radius: 50% ;
}

.gallery{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50%;
}
.photo-itm{
    width: 25%;
}
.photo-itm img{
    box-sizing: border-box;
    max-width: 99%;
    opacity: 0.7;
}
.photo-itm img:hover{
    opacity: 1;
}

.blog-container{
    background: #fafafa;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0,0.2) 0 4px 2px -2px;
    font-weight: 100;
    margin: 48px auto;
    width: 50rem;
}
.blog-container a:hover{
    border-color: #ff4d4d;
    color:#ff4d4d;
}
.blog-cover{
    background: url(../img/porshe-911.jpg);
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow:inset rgba(0, 0, 0, 0.2) 0 64px;
}
.blog-body{
    margin:  0 auto;
    width:  80%;
}
.blog-title h1 a{
    color:#333;
    font-weight: 100;
}
.blog-text p{
    color:#4d4d4d;
}
.blog-tegs ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none ;
    padding-left: 0;
}
.blog-tegs li + li{
    margin-left: .5rem;
}
.blog-tags a{
    border:1px solid #999999;
    border: radius 3px;
    color: #999999;
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;

}
.blog-footer{
    border-top: 2px solid#e6e6e6;
    margin: 0 auto;
    margin-bottom: .125rem;
    width: 80%;
}
.blog-footer ul{
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-direction;
    padding-left: 0;
}
.blog-footer li{
    color: #999999;
    font-size: .75rem;
    height: .1.5rem;
    text-align: center;
    text-transform: uppercase ;
    position: relative;
    white-space: nowrap;
}
.published-date{
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 0 0.50rem;
}
.map{ /*location карта yandex */
    width: 100% ;
    height: 400px;
    background-color: rgb(255, 255, 255);
}
[class*="ground-pane"]{ /* Серый цвет карты */
    filter:  grayscale(1);
}
/*contact*/
.form{
    width: 50%;
    margin: auto;
    max-width: 100px auto;
}
.feedback-imput{
    color: #000;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    background-color: rgb(255, 255, 255) ;
    padding: 13px;
    margin-bottom: 10px; 
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:0px solid transparent;
    border-bottom: 1px solid #000;
}
textarea{
    width: 100%;
    height: 150px;
    resize: vertical;
}
.button-submit{
    float: left;
    width: 100%;
    border: 0px solid transparent;
    cursor: pointer;
    background-color:#000;
    color: white;
    font-size: 18px;
    padding-bottom: 22px;
    padding-top: 22px;
    transition: all;
    margin-top: -4px ;
    font-weight: 300;
}
.button-submit:hover{
    background-color:rgb(255, 255, 255);
    color:#000;
    border:1px solid #000;
}
.easy{
    width:0;
    height: 74px;
    background-color:#fff;
    transition: .3s easy;
}


.workshop{ /* Projects - Лейбл + надпись*/
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 25px;
}

@media screen and (max-width: 768px){
.topnav a:not(:first-child){
        display:none;
    }
        .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color:black;
    }
    nav{
        width:  100px;
    }
    .topnav.responsive{
        position: relative;
    }
    .topnav.responsive a.icon{
        position: absolute;
        right: 0 ;
        top: 0;
    }
    .topnav.responsive a{
        float: none;
        display:  block;
        text-align: left ;
    }
    .advantages-item{
        width: 30%;
    }
    .photo-itm{
        width: 45px;
        margin-left: 10px;
    }
    .blog-container{
        width: 28rem;
    }
} 
@media screen and (max-width: 420px){
        .advantages{
            flex-direction: column;
        }
        .advantages_item{
            width: 100%;
        }
        .project{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .gallery{
            width: auto;
            margin: auto;
        }
        .photo-itm{
            width: 70%;
            margin: 0 auto;
        }
        .blog-container{
            width: 20rem;
        }
    
}